{% extends 'base-subscription.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="main-container">
		<h2>
			Bienvenue sur TaskLinker
		</h2>
		<p>Commencez dès maintenant - gratuitement</p>

		<div class="connections">
			<p>Vous avez déjà un compte ?</p>
			<a href="{{ path('connect_employee') }}" class="connection-link">
				Se connecter
			</a>
			<div class="lines-container">
				<hr class="horizontal-line">
				<p>ou</p>
				<hr class="horizontal-line">
			</div>
			<a href="{{ path('add_employee') }}" class="subscription-link">
				S’inscrire
			</a>
		</div>
	</div>
{% endblock %}
